<h1>RECIPES</h1>
<h1>* * * * * *</h1>
<% @recipes.each do |recipe| %>
  <h1><a href="<%=recipe.link%>"><%= recipe.name %></a></h1>
  <ul class="list-unstyled">
  <% recipe.ingredients.each do |ingredient| %>
    <li><h3><%= Inventory.find(ingredient.inventory_id).name %><h3></li>
  </ul>
  <% end %>
  <h2> ________ </h2>
<% end %>
