<h1>
  <%= @recipe.name %>
</h1>
<ul>
  <% Ingredient.where(recipe_id: @recipe.id).each do |ingredient| %>
  <li><%= Inventory.find(ingredient.inventory_id).name %></li>
  <% end %>
</ul>
<a href="<%= @recipe.link %>">Instructions</a>
</p>
<hr/>
