<%= erb :"shared/_errors", locals: {target: @recipe %>

<table class="table table-striped">
  <thead><%= @recipe.name %></thead>
  <thead>Ingredients</thead>
  <% @recipe.ingredients.each do |ingredient| %>
    <tr><%= ingredient.name %></tr>
  <% end %>
</table>
<a href="<%= @recipe.link %>">Instructions</a>
