<h1>Recipe matches for</h1>
  <% @items.each do |item| %>
  <p><%= Inventory.find(item).name %></p>
  <% end %>
<hr/>

  <% @recipes.each do |recipe| %>
    <% if has_all_ingredients(recipe) %>
      <div class="recipe">
        <h1>
          <a href="/recipe/<%= recipe.id %>">
            <%= recipe.name %></a>
        </h1>
        <p>
          <a href="<%= recipe.link %>">How to</a>
        </p>
      </div>
    <% end %>
  <% end %>
