<form action="/users/signup" method="post">
  <div>
    <label>Enter Username:</label>
    <input name="user[username]" placeholder="Username" type="text">
  </div>
  <div>
    <label>Enter Password:</label>
    <input name="user[password]" placeholder="password" type="password">
  </div>
  <div>
    <input type="submit" value="submit">
  </div>
</form>
