<form method="post" action="/users/signup">
  <div>
    <label>Enter Username:</label>
    <input type="text" name="username" placeholder="user name">
  </div>
  <div>
    <label>Enter Password:</label>
    <input type="password" name="password">
  </div>
  <div>
    <input type="submit" value="Submit">
  </div>
</form>
