<% if not current_user %>

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <form action="/users/login" class="navbar-form navbar-left" id="signin" method="post" name="signin" role="form">

      <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input class="form-control" id="email" name="user[username]" placeholder="Username" type="text" value="">
      </div>

      <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        <input class="form-control" id="password" name="user[password]" placeholder="Password" type="password" value="">
      </div>
      <button class="btn btn-primary" type="submit">Login</button>
    </form>

    <ul class="nav navbar-form navbar-right">
      <a class="btn btn-default" href="/users/signup">or..Sign up</a>
    </ul>
  </div>
<% else %>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <form action="/users/logout" class="navbar-form navbar-right" id="signin" method="post" role="form">
      <button class="btn btn-danger" type="submit">Logout</button>
    </form>
  </div>
<% end %>
