<h1>What do you have this time?</h1>

<% if current_user %>
  <h2>Here's what you got already:</h2>
  <br />
  <form action="/inventory/delete" method="post">
    <div class="btn-group btn-block" data-toggle="buttons">
      <% Inventory.all.each do |item| %>
        <% if is_in_pantry(item.id) %>
          <%= erb :"inventory/_pantry_checkbox", locals: {item: item} %>
        <% end %>
      <% end %>
    </div>
    <button type="submit" class="btn btn-default btn-block">Remove</button>
  </form>
  <hr />
<% end %>

<form action="/recipes" method="get">
  <div class="btn-group btn-block" data-toggle="buttons">
    <% Inventory.all.each do |item| %>
      <% unless current_user && is_in_pantry(item.id) %>
        <%= erb :"inventory/_pantry_checkbox", locals: {item: item} %>
      <% end %>
    <% end %>
  </div>
  <button type="submit" class="btn btn-default btn-block">Go</button>
</form>
