<h1><%= @flash %>
</h1>
<h1>What do you have this time?</h1>
<form action="/recipes" method="get">
  <div class="btn-group btn-block" data-toggle="buttons">
    <% Inventory.all.each do |item| %>
      <label class="btn btn-primary btn-block">
        <input name="pantry[]" type="checkbox" value="<%= item.id %>" autocomplete="off"> <%= item.name %>
      </label>
      <br>
    <% end %>
  </div>
  <button type="submit" class="btn btn-default btn-block">Go</button>
</form>
