<% if @flash %>
  <div class="alert alert-success" role="alert">
    <%= @flash %>
  </div>
<% end %>

<h1>What do you have this time?</h1>
<form action="/recipes" method="get">
  <div class="btn-group btn-block" data-toggle="buttons">
    <% Inventory.all.each do |item| %>
        <% unless logged_in && is_in_pantry(item.id) %>
            <%= erb :"inventory/_pantry_checkbox", locals: {item: item} %>
      <% end %>
    <% end %>
  </div>
  <button type="submit" class="btn btn-default btn-block">Go</button>
</form>

<% if logged_in %>
  <h1>Here's what you got already:</h1>
  <form action="/inventory/delete" method="post">
    <div class="btn-group btn-block" data-toggle="buttons">
      <% Inventory.all.each do |item| %>
        <% if logged_in %>
          <% if is_in_pantry(item.id) %>
            <%= erb :"inventory/_pantry_checkbox", locals: {item: item} %>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <button type="submit" class="btn btn-default btn-block">Remove</button>
  </form>
<% end %>
