<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/jumbotron.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
  <title>| Recipinator |</title>
</head>

<body>
  <div class="container">
    <div class="header clearfix">
      <nav class="navbar navbar-default">
        <%= erb :"shared/_user_bar"  %>
      </nav>
    </div>

    <%= erb :"shared/_flash_alerts"  %>

    <div class="jumbotron">
      <%= yield %>
    </div>

    <footer class="footer">
      <p>&copy; Recipinator</p>
    </footer>
  </div>
</body>

</html>
